
@import '../../Assets/Lib/breakpoints.scss';


.containerForPagination {
  display: flex;
  width: 70%;
  justify-content: center;
  height: 10%;
  border-radius: 3px;

  @include media('>=tablet')
  {
    display: none;
  }


  &__pagination
  {
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    list-style: none;

    &__page--acitve
    {
      flex: 1;
      margin: 0px 5px;
      background: #2c80ff;
      color: #2c80ff;
      border-radius: 3px;
    }
  

    &__page--dacitve
    {
      flex: 1;
      margin: 0px 5px;
      background: #dde1e7;
      border-radius: 3px;
    }
  }
}
