@import '../../Assets/Lib/breakpoints.scss';

.cardscontainer
{
  display: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  
  @include media('>=tablet')
  {
    padding: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40%;
  }

  @include media('>=desktop')
  {
    padding: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
}

.cardscontainermobile
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 40%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__arrow
  {
    width: 10%;
  }

  @include media('>=tablet')
  {
    display: none;
  }
}